body {
    width: 125px; /* Set a specific width */
    height: 100px; /* Set a specific height */
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}

#button-container {
    display: flex; /* Use flexbox to align buttons side by side */
    justify-content: space-between; /* Space between buttons */
    width: 100%; /* Take full width */
    margin: 4px;
}

input {
    width: 80%; /* Make input take full width */
    margin: 5px;
}

button {
    flex: 1;
    margin: 0 5px;
}

#name {
    margin: 2px;
    color: black;
}
